@page "/"
@implements IAsyncDisposable
@inject IJSRuntime jsRuntime
@inject ISerialService serialService
@inject DialogService dialogService

@using Microsoft.AspNetCore.Components.Web
@using System.Text
@using WASMSerialTerminal

<div class="container-fluid">
	<SerialSettingsPanel @bind-DataBits="@dataBits" @bind-FlowControl="@flowControl" @bind-Parity="@parity" @bind-StopBits="@stopBits" @bind-BaudRate="@baudRate" @bind-TextEncoding="@textEncoding" Disabled="@(@serialService.PortOpen || isChangingConnectionState)" />

	<hr class="mb-4" />

	<div class="row gy-5">
		<div class="col-lg-6 d-flex flex-column align-items-start">
			<div class="mb-1">
				<RadzenButton Text="Connect to port" ButtonStyle="@ButtonStyle.Success" Click="@OnConnectButtonClick" Visible="@(!serialService.PortOpen)" IsBusy="@isChangingConnectionState" BusyText="Connecting..." class="mb-1" />
				<RadzenButton Text="Close port" ButtonStyle="@ButtonStyle.Danger" Click="@OnDisconnectButtonClick" Visible="@serialService.PortOpen" IsBusy="@isChangingConnectionState" BusyText="Disconnecting..." class="mb-1" />
				<p class="d-inline text-nowrap ms-2">@connectionStatusText<b>@connectionStatusBoldText</b></p>
			</div>
			<AutoScrollTextBox Style="height: 425px; width: 100%;" @ref="@autoScrollTextBox" OnClearDataButtonClicked="@OnClearDataButtonClicked" MaxChars="150000" />
		</div>
		<div class="col-lg-6">
			<div class="mb-1">
				<RadzenButton ButtonStyle="@ButtonStyle.Primary" Click="@OnRefreshGridButtonClick" Icon="autorenew" />
				<p class="d-inline text-nowrap">Data breakdown (not realtime):</p>
			</div>
			<RadzenDataGrid TItem="@SerialByte" Data="@serialData" Style="height: 400px;" AllowColumnReorder="true" AllowColumnResize="true"
				@ref="@grid" AllowPaging="true" ShowPagingSummary="true" PageSizeOptions="@(new int[] {10, 20, 30, 40, 50})">
				<Columns>
					<RadzenDataGridColumn TItem="@SerialByte" Property="DecimalValue" Title="Decimal value" />
					<RadzenDataGridColumn TItem="@SerialByte" Property="HexValue" Title="Hex value" />
					<RadzenDataGridColumn TItem="@SerialByte" Property="Character" Title="ASCII character" />
				</Columns>
			</RadzenDataGrid>
		</div>
	</div>

	<DataInputBox OnDataToBeSent="@OnSendDataButtonClick" Disabled="@(!serialService.PortOpen || isChangingConnectionState)" TextEncoding="@textEncoding" />
</div>

@* Must be defined even for default dialogs to show *@
<RadzenDialog />

@code {
	private RadzenDataGrid<SerialByte>? grid = null;
	private List<SerialByte> serialData = new();

	private AutoScrollTextBox? autoScrollTextBox;

	// Serial port params
	private SerialPortDataBits dataBits = SerialPortDataBits.EIGHT_DATA_BITS;
	private SerialPortFlowControl flowControl = SerialPortFlowControl.FLOW_CONTROL_NONE;
	private SerialPortParity parity = SerialPortParity.PARITY_NONE;
	private SerialPortStopBits stopBits = SerialPortStopBits.ONE_STOP_BIT;
	private uint baudRate = 9600;
	private Encoding textEncoding = Encoding.UTF8;

	private string connectionStatusText = "(Disconnected)";
	private string connectionStatusBoldText = "";
	private bool isChangingConnectionState = false;

	private MemoryStream? serialDataStream;
	private StreamReader? dataStreamReader;
	private const int MAX_BYTES = 150000;

	protected override void OnInitialized() {
		serialService.SerialError += OnSerialError;
	}

	public async ValueTask DisposeAsync() {
		serialService.DataReceived -= OnSerialDataReceived;
		serialService.SerialError -= OnSerialError;
		await serialService.ClosePort();
	}

	private async Task OnConnectButtonClick() {
		isChangingConnectionState = true;

		try {
			bool portSelected = await serialService.OpenPortSelectionDialog(baudRate, dataBits, flowControl, parity, stopBits);
			if (portSelected) {
				serialData.Clear();
				await grid!.Reload();
				autoScrollTextBox!.ClearText();
				connectionStatusText = "Connected to: ";
				connectionStatusBoldText = serialService.DeviceName == null ? "Unknown device" : serialService.DeviceName;

				serialDataStream = new();
				dataStreamReader = new(serialDataStream, textEncoding, false, -1, true);
				serialService.DataReceived += OnSerialDataReceived;
			}
		}
		catch (SerialSecurityException) {
			await dialogService.Alert("Permission to access serial port not granted.", "Error");
		}
		catch (SerialInitializationException) {
			await dialogService.Alert("Failed to open serial port. Please try again. The serial port may already be in use by another process.", "Error");
		}

		isChangingConnectionState = false;
	}

	private void SharedDisconnectLogic() {
		connectionStatusText = "(Disconnected)";
		connectionStatusBoldText = "";

		serialService.DataReceived -= OnSerialDataReceived;
		serialDataStream?.Close();
		dataStreamReader?.Close();
	}

	private async Task OnDisconnectButtonClick() {
		isChangingConnectionState = true;
		await serialService.ClosePort();
		isChangingConnectionState = false;
		SharedDisconnectLogic();
	}

	private void OnSerialError() {
		SharedDisconnectLogic();
		StateHasChanged();
		dialogService.Alert("Something went wrong with the serial port. Was your device disconnected?", "Error");
	}

	private void OnSerialDataReceived(byte[] data) {
		foreach (byte b in data) {
			serialData.Add(new SerialByte(b)); // For the data breakdown grid
		}

		int overflow = serialData.Count - MAX_BYTES;
		if (overflow > 0) {
			serialData.RemoveRange(0, overflow);
		}

		serialDataStream!.Write(data);
		serialDataStream!.Position -= data.Length; // Writing advances position, we must rewind before reading

		// Only re-render the scrollbox, as opposed to re-rendering the whole page.
		// This is because rendering the grid is slow and will cause lots of lag if we do it every time we get new data.

		char[] buf = new char[data.Length];
		int charsRead = dataStreamReader!.ReadBlock(buf, 0, data.Length);
		StringBuilder sb = new(charsRead);
		for (int i = 0; i < charsRead; i++) {
			sb.Append(buf[i]);
		}
		autoScrollTextBox!.AppendTextAndRedraw(sb.ToString());
	}

	private async Task OnRefreshGridButtonClick() {
		await grid!.Reload();
		await grid!.LastPage();
	}

	private async Task OnClearDataButtonClicked() {
		serialData.Clear();
		await grid!.Reload();
	}

	// Handles the button clicks when sending text or byte data
	private async Task OnSendDataButtonClick(byte[] data) {
		try {
			await serialService.WriteData(data);
		}
		catch (SerialTransmissionException ex) {
			await dialogService.Alert(ex.Message, "Failed to write data");
		}
	}
}